@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/Karla-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/Karla-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Karla-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/Karla-BoldItalic.ttf) format('truetype');
}