ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  .text & {
    list-style-type: disc;
    padding-left: 2em;
  }
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}