h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  letter-spacing: 1.2;
}

p {
  margin: 0 0 $small-spacing;
  line-height: $base-line-height;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing, border-bottom $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

hr {
  text-align: center;
  margin: 1.5rem auto;
  width: 80%;
  border: 0;
  height: 2px;
  background: $peach;
  background-image: linear-gradient(to right, white, $peach, white);
}

h1 + hr,
.intro + hr {
  /* Shift a <hr> right after an `.intro`
     or <h1> block one line up. */
  margin-top: -1.5rem;
}