// Typography
$lato: Lato, 'Lato', $helvetica;
$base-font-family: $helvetica;
$heading-font-family: $helvetica;

// Font Sizes
$base-font-size: 1.2em;

// Line height
$base-line-height: 1.2;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 1px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 1.5;
$base-z-index: 0;

// Colors
$dark-gray: #111;
$medium-gray: #999;
$light-gray: #ddd;

$black: #000;

$blue: #0000FF;
$cyan: #00FFFF;
$cyan: #43ffdb;
$yellow: #FED134;
$lightpink: #FFE1DD;
$peach: #ffd4c5;
$green: #63f3a6;

$background-color: $lightpink;
$background-color-2: #fff5ef;
$display-color: white;

// Font Colors
$base-font-color: black;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


// Screen Widths

$phone : 27.5rem;

$phablet : 40rem;

$tablet : 60rem;

$laptop : 80rem;

$desktop : 90rem;
