.accordion-tabs {
  $base-background-color: #fff !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $medium-screen: 40em !default;
  $action-color: $yellow !default;
  $tab-link-color: $yellow;
  $tab-link-hover-color: black;
  $tab-inactive-color: black;
  $tab-inactive-hover-color: $blue;
  $base-border-color: $yellow;
  $tab-border: none;
  $tab-active-background: $base-background-color;
  $tab-mode: 0em;

  @include clearfix;
  line-height: 1.5;
  padding: 0;
  text-align: center;

  .tab-header-and-content {
    list-style: none;

    @include media($tab-mode) {
      display: inline;
    }
  }

  .tab-link {
    color: $tab-inactive-color;
    border-bottom: 4px solid $tab-inactive-color;
    display: block;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: .02em;
    span {
      transition: all ease $base-duration;
      position: relative;
      top: 0;
    }

    @include media($tab-mode) {
      border-top: 0;
      margin: 0 $gutter;
    }

    &:hover {
      color: $tab-link-hover-color;
      border-bottom-color: $tab-link-color;
      span {
        top: -2px;
      }
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      color: $tab-link-color;
      border-bottom-color: $base-border-color;
      @include media($tab-mode) {
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    padding: $base-spacing $gutter;
    width: 100%;
    text-align: left;

    @include media($tab-mode) {
      float: left;
    }
  }
}
