.home {
  main section.splash {
    background: $peach;
    @include pad(default 0)
    margin-bottom: $base-spacing;
    @include media($phablet) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      margin-bottom: $base-spacing * 2;
    }
    .splash__welcome {
      color: white;
      max-width: $phablet;
      text-align: left;
      text-shadow: 2px 2px 18px rgba(204, 146, 138, 0.1);
      h1 {
        font-size: 3.5em;
        margin-bottom: 0;
      }
      h2 {
        font-size: 1.3em;
        font-weight: normal;
        text-transform: lowercase;
      }
      @include media($phablet) {
        @include shift(0);
        @include span-columns(7);
        text-align: right;
      }
        @include media($tablet) {
          h1 {
            font-size: 4.5em;
          }
          h2 {
            font-size: 1.5em;
          }
      }
    }
    figure {
      @include omega();
      @include span-columns(8);
      @include shift(2);
      @include media($phablet) {
        @include shift(0);
        @include span-columns(5);
        @include omega();
      }
      margin: 0;
      img {
        max-width: 12em;
        margin-bottom: 0;
      }
    }
  }

  .section-2 {
    @include outer-container;
    margin-bottom: $large-spacing;
  }

  .accordion-tabs {
    .tab-link {
      font-size: 1.6em;
    }
  }

  section.intro {
    @include media($phablet) {
      @include pad(0);
      @include span-columns(6);
      @include shift(1);
    }
    ul {
      margin-bottom: 0;
    }
  }

  section.reels {
    text-align: center;
    @include row;
    h2 {
      color: $green;
    }
    @include media($phablet) {
      @include span-columns(5);
    }
    div.audio-player-wrap {
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      @include media($phone) {
        @include span-columns(6);
      }
      @include media($phablet) {
        @include fill-parent;
      }
    }
    .audio-player {
      max-width: 12em;
    }
  }

  section.testimonials {
    background: $peach;
    position: relative;
    @include pad(4em 0);
    overflow: hidden;
    .outer-container {
      &:before, &:after {
        position: absolute;
        pointer-events: none;
        font-size: 16em;
        height: .3em;
        z-index: 1;
        line-height: .8;
        color: rgba(white, .8);
        text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
        animation-name: floating;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @keyframes floating {
          0% {
            transform: translateY(0)
          }
          50% {
            transform: translateY(-3px);
            text-shadow: 0px 12px 22px rgba(0, 0, 0, 0.1);
          }
        }
      }
      &:before {
        animation-delay: 1s;
        content: "“";
        top: 5%;
        left: 0;
      }
      &:after {
        animation-duration: 5s;
        content: "”";
        bottom: 5%;
        right: 0;
      }
      @include media($phablet) {
        &:before {
          left: 10%;
        }
        &:after {
          right: 10%;
        }
      }
      
    }
    .testimonial-list {
      position: relative;
      &__item {
        @include pad(1.5em default);
        width: 70%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: center;
        color: white;
      }
      &__description {
        font-size: 1.4em;
      }
      &__title, &__position {
        font-size: .8em;
        text-transform: uppercase; 
        margin-bottom: 0;
        font-weight: 400;
      }
      &__title {
        font-weight: 700;
        font-size: .9em;
      }
    }
  }
  main {
    &:after {
      content: "";
      display: block;
      height: 4em;
      background: linear-gradient($peach,white);
    }
  }
}