.home {
  main section.splash {
    @include row;
    @include pad(2em 2%);
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-color;
    .right {
      text-align: right;
      color: white;
      @include media($phablet) {
        @include span-columns(7);
        @include omega();
      }
    }
    h1 {
      font-size: 9vw;
      text-align: right;
      margin-bottom: 0;
    }
    h2 {
      font-size: 3vw;
      font-weight: normal;
      text-transform: uppercase;
    }
    figure {
      @include media($phablet) {
        @include span-columns(5);
        @include omega();
      }
      text-align: center;
      margin: 0;
      img {
        max-width: 12em;
        margin-bottom: 0;
      }
    }
  }

  section.intro {
    @include row;
    @include pad(2.5em 0);
    @include media($phablet) {
      @include span-columns(8);
      @include shift(2);
      @include omega();
    }
    ul {
      margin-bottom: 0;
    }
  }
  .intro {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
  }

  section.reels {
    @include row;
    clear: both;
    div.audio-player-wrap {
      @include media($phablet) {
        @include span-columns(6);
      }
      &:nth-of-type(2) {
        @include omega();
      }      
    }
    hr {
      clear: both;
    }
  }
}


/* -----  4.1 Homepage  ----------------------------------------------------- */

.projects-section {
  padding-top: 2.25rem;
  padding-bottom: .75rem;
}

.projects-section-more {
  text-align: center;
}